.background{
    background: #392381;
    background-image: url(../images/img-najmul.svg) ;
    background-repeat: no-repeat;
    background-position: right top;
    
    
}
.checked-color{
    color: #0CC215;
}
#back-drop{
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-radius: 14px;
}
.back-drop-card{
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    border-radius: 14px;
}
