#top-close {
    text-align: right;
}

.background {
    background: #392381;
    background-image: url(../images/img-najmul.svg);
    background-repeat: no-repeat;
    background-position: right top;
    padding-bottom: 7%;
}

.checked-color {
    color: #0CC215;
}

#back-drop {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    border-radius: 14px;
}

.back-drop-card {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    backdrop-filter: blur(1px);
    border-radius: 14px;
    height: 500px;
}

.back-drop-card .card {
    border: 2px solid rgba(255, 255, 255, 0.12);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.price-item {
    display: inline-block;
    min-width: 25px;
}

.price-item.p-text {
    width: 92%;
}

.price-item.p-checkbox { 
    top: 0;
    transform: translateY(-100%);
}